.sub-header {
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    background-color: #f2f2f2;
}
<<<<<<< HEAD
 
=======

>>>>>>> e0aff0da443b410aa9880ba0c6f8e8332abad850
.sub-header-content {
    max-width: 1600px;
    width: 90%;
    margin-left: 17px;
}
<<<<<<< HEAD
 
=======

>>>>>>> e0aff0da443b410aa9880ba0c6f8e8332abad850
.sub-header-content h1 {
    font-size: 28px;
    margin: 0;
    padding: 0;
}
<<<<<<< HEAD
 
=======

>>>>>>> e0aff0da443b410aa9880ba0c6f8e8332abad850
.content {
    position: absolute;
    width: 100%;
    top: 125px;
    display: flex;
    justify-content: center;
}
<<<<<<< HEAD
 
=======

>>>>>>> e0aff0da443b410aa9880ba0c6f8e8332abad850
.deptlist-container {
    max-width: 1600px;
    width: 90%;
    margin-left: 17px;
    padding-bottom: 35px;
}
<<<<<<< HEAD
 
=======

>>>>>>> e0aff0da443b410aa9880ba0c6f8e8332abad850
.row-label h1 {
    font-size: 34px;
    margin-top: 60px;
    margin-bottom: 10px;
}
<<<<<<< HEAD
 
=======

>>>>>>> e0aff0da443b410aa9880ba0c6f8e8332abad850
.content a {
    font-size: 16px;
    display: inline-block;
    height: 23px;
    background-color: #ffffff;
    padding: 6px;
    text-align: center;
    border-radius: 3px;
    color: #b60000;
    font-weight: bold;
    line-height: 23px;
    text-decoration: none;
    transition: 0.15s ease-out;
    white-space: nowrap;
    width: max-content;
}
<<<<<<< HEAD
 
=======

>>>>>>> e0aff0da443b410aa9880ba0c6f8e8332abad850
.content a:hover {
    background: #b60000;
    color: #ffffff;
}
<<<<<<< HEAD
 
=======

>>>>>>> e0aff0da443b410aa9880ba0c6f8e8332abad850
#left-button {
    margin-right: 20px;
    display: inline-block;
}
<<<<<<< HEAD
 
.departments {
    margin-top: 35px;
}
 
=======

.departments {
    margin-top: 35px;
}

>>>>>>> e0aff0da443b410aa9880ba0c6f8e8332abad850
.departments p {
    font-size: 20px;
    line-height: 30px;
    margin-top: 15px;
}
<<<<<<< HEAD
 
=======

>>>>>>> e0aff0da443b410aa9880ba0c6f8e8332abad850
.departments h3 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 20px;
}
<<<<<<< HEAD
 
.second-sublabel {
    margin-top: 40px;
}
 
=======

.second-sublabel {
    margin-top: 40px;
}

>>>>>>> e0aff0da443b410aa9880ba0c6f8e8332abad850
.search table {
    width: 100%;
    border-collapse: collapse;
}
<<<<<<< HEAD
 
=======

>>>>>>> e0aff0da443b410aa9880ba0c6f8e8332abad850
.search td,
.search th {
    text-align: left;
    border-style: hidden;
}
<<<<<<< HEAD
 
=======

>>>>>>> e0aff0da443b410aa9880ba0c6f8e8332abad850
.search td div {
    display: flex;
    justify-content: left;
    align-items: center;
}
<<<<<<< HEAD
 
=======

>>>>>>> e0aff0da443b410aa9880ba0c6f8e8332abad850
.search td p {
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
}
<<<<<<< HEAD
 
=======

>>>>>>> e0aff0da443b410aa9880ba0c6f8e8332abad850
.search th p {
    font-size: 16px;
    margin-top: 0;
    padding-top: 0;
}
<<<<<<< HEAD
 
 
/* Dropdown */
 
=======


/* Dropdown */

>>>>>>> e0aff0da443b410aa9880ba0c6f8e8332abad850
.list-dropdown {
    display: inline-block;
    position: relative;
}
<<<<<<< HEAD
 
=======

>>>>>>> e0aff0da443b410aa9880ba0c6f8e8332abad850
.dd-button {
    display: inline-block;
    padding: 6px;
    border-radius: 3px;
    background-color: #ffffff;
    color: #b60000;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.15s ease-out;
    font-size: 16px;
    height: 23px;
    font-weight: bold;
}
<<<<<<< HEAD
 
=======

>>>>>>> e0aff0da443b410aa9880ba0c6f8e8332abad850
.dd-button:hover {
    background: #b60000;
    color: #ffffff;
}
<<<<<<< HEAD
 
.dd-input {
    display: none;
}
 
=======

.dd-input {
    display: none;
}

>>>>>>> e0aff0da443b410aa9880ba0c6f8e8332abad850
.dd-menu {
    position: absolute;
    top: 100%;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: #0e0e0e;
    list-style-type: none;
    z-index: 5;
    padding-top: 10px;
    padding-bottom: 10px;
}
<<<<<<< HEAD
 
=======

>>>>>>> e0aff0da443b410aa9880ba0c6f8e8332abad850
.dd-menu a {
    background-color: transparent;
    font-weight: normal;
    color: #a3a3a3;
    font-size: 0.875em;
    transition: 0.3s ease-in-out;
    margin-left: 15px;
    margin-right: 15px;
    height: 30px;
}
<<<<<<< HEAD
 
=======

>>>>>>> e0aff0da443b410aa9880ba0c6f8e8332abad850
.dd-menu a:hover {
    background-color: transparent;
    color: white;
}
<<<<<<< HEAD
 
.dd-input~.dd-menu {
    display: none;
}
 
=======

.dd-input~.dd-menu {
    display: none;
}

>>>>>>> e0aff0da443b410aa9880ba0c6f8e8332abad850
.dd-input:checked~.dd-button {
    background-color: #0e0e0e;
    color: white;
    border-radius: 0px;
}
<<<<<<< HEAD
 
.dd-input:checked~.dd-menu {
    display: block;
}
 
=======

.dd-input:checked~.dd-menu {
    display: block;
}

>>>>>>> e0aff0da443b410aa9880ba0c6f8e8332abad850
.dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}
<<<<<<< HEAD
 
.dd-menu li:hover {
    background-color: #f6f6f6;
}
 
=======

.dd-menu li:hover {
    background-color: #f6f6f6;
}

>>>>>>> e0aff0da443b410aa9880ba0c6f8e8332abad850
.dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
}
<<<<<<< HEAD
 
=======

>>>>>>> e0aff0da443b410aa9880ba0c6f8e8332abad850
.dd-menu li.divider {
    padding: 0;
    border-bottom: 1px solid #cccccc;
}
<<<<<<< HEAD
 
=======

>>>>>>> e0aff0da443b410aa9880ba0c6f8e8332abad850
@media screen and (max-width: 1400px) {
    .sub-header-content {
        width: 100%;
        margin-left: 30px;
        margin-right: 30px;
    }
    .deptlist-container {
        width: 100%;
        margin-left: 30px;
        margin-right: 30px;
    }
}
<<<<<<< HEAD
 
=======

>>>>>>> e0aff0da443b410aa9880ba0c6f8e8332abad850
@media screen and (max-width: 1190px) {
    .search table,
    .search thead,
    .search tbody,
    .search th,
    .search td,
    .search tr {
        display: block;
    }
    .search thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .search td {
        border: none;
        position: relative;
        padding-left: 50%;
        height: 30px;
        padding-top: 0;
        padding-bottom: 0;
        margin-left: -30px;
        white-space: nowrap;
    }
    .search td:before {
        position: absolute;
        top: 0px;
        left: 6px;
        width: 20%;
        margin: 0 !important;
        padding: 0;
        white-space: nowrap;
        display: flex;
        align-items: center;
        height: 100%;
        padding-left: 30px;
    }
    .search td div {
        justify-content: left;
        align-items: left;
    }
    .buttons {
        display: flex;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .empty {
        padding-top: 0px;
    }
    .search td:nth-of-type(1):before {
        content: "Department";
        font-weight: bold;
    }
    .search td:nth-of-type(2):before {
        content: "College";
        font-weight: bold;
    }
    .search td,
    .search th {
        text-align: left;
        border-style: hidden;
    }
    .search td div {
        display: block;
        justify-content: left;
        align-items: left;
        text-align: left;
    }
    .search td div a,
    .search td div label {
        display: block;
        float: left;
        clear: both;
    }
    tr {
        height: 210px;
    }
<<<<<<< HEAD
}
=======
}
>>>>>>> e0aff0da443b410aa9880ba0c6f8e8332abad850
