.sub-header {
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  background-color: #f2f2f2;
}

.sub-header-content {
  max-width: 1600px;
  width: 90%;
  margin-left: 17px;
}

.sub-header-content h1 {
  font-size: 28px;
  margin: 0;
  padding: 0;
}

.content {
  position: absolute;
  width: 100%;
  top: 125px;
  display: flex;
  justify-content: center;
}

.deptlist-container {
  max-width: 1600px;
  width: 90%;
  margin-left: 17px;
  margin-bottom: 60px;
}

.row-label h1 {
  font-size: 34px;
  margin-top: 60px;
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
  display: block;
  text-align: left;
}

.content a {
  font-size: 16px;
  display: inline-block;
  height: 23px;
  background-color: #ffffff;
  padding: 6px;
  text-align: center;
  border-radius: 3px;
  color: #b60000;
  font-weight: bold;
  line-height: 23px;
  text-decoration: none;
  transition: color 0.15s ease-out, background-color 0.15s ease-out;
  white-space: nowrap;
  width: max-content;
}

.content a:hover {
  background: #b60000;
  color: #ffffff;
}

.table-button ~ .table-button {
  margin-left: 20px;
}

.departments {
  margin-top: 35px;
}

.departments p {
  font-size: 20px;
  line-height: 30px;
  margin-top: 20px;
}

.departments h3 {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 20px;
}

.search {
  margin-top: 35px;
}

.search h3 {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 20px;
  margin-top: 0;
}

.search p {
  font-size: 20px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.select {
  color: #767676;
  font-size: 17px;
  max-width: 100%;
  width: max-content;
}

.name {
  color: #767676;
  font-size: 17px;
  width: 100%;
  width: 100%;
  margin-top: 20px;
}

input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 15px;
  background-color: #f4f4f4;
  display: block;
  text-align: left;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 3px;
}

input:focus {
  outline: none;
}

select {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 15px;
  background-color: #f4f4f4;
  display: block;
  text-align: left;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 3px;
}

select:focus {
  outline: none;
}

.search form {
  width: 400px;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 35px;
}

.search table {
  width: 100%;
  border-collapse: collapse;
}

.search td,
.search th {
  text-align: left;
  border-style: hidden;
}

.search td p,
.search th p {
  display: flex;
  align-items: center;
}

.search td p {
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 0px !important;
  padding-right: 20px;
  margin: 0;
  min-height: 60px;
}

.search th p {
  font-size: 16px;
  margin: 0 !important;
  min-height: 60px;
}

.list-dropdown {
  display: inline-block;
  position: relative;
  margin: 0;
  margin-left: 20px;
}

.dd-button {
  display: inline-block;
  padding: 6px;
  border-radius: 3px;
  background-color: #ffffff;
  color: #b60000;
  cursor: pointer;
  white-space: nowrap;
  transition: color 0.15s ease-out, background-color 0.15s ease-out;
  font-size: 16px;
  height: 19px;
  font-weight: bold;
}

.dd-button:hover {
  background: #b60000;
  color: #ffffff;
}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #0e0e0e;
  list-style-type: none;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dd-menu a {
  background-color: transparent;
  font-weight: normal;
  color: #a3a3a3;
  font-size: 0.875em;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  margin-left: 15px;
  margin-right: 15px;
  height: 30px;
}

.dd-menu a:hover {
  background-color: transparent;
  color: white;
}

.dd-input ~ .dd-menu {
  display: none;
}

.dd-input:checked ~ .dd-button {
  background-color: #0e0e0e;
  color: white;
  border-radius: 0px;
}

.dd-input:checked ~ .dd-menu {
  display: block;
}

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider {
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

hr.solid {
  margin: 0;
  border-top: 1px solid #e8e8e8;
}

form button {
  font-size: 16px;
  width: max-content;
  height: 45px;
  background: transparent;
  border: 2px solid #b60000;
  border-radius: 3px;
  color: #b60000;
  font-weight: bold;
  transition: color 0.15s ease-out, background-color 0.15s ease-in-out;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}

.button ~ .button {
  margin-left: 20px;
}

form button:hover {
  background: #b60000;
  color: #ffffff;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #C0C0C0;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #C0C0C0;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #C0C0C0;
}

@media screen and (max-width: 1400px) {
  .sub-header-content {
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
  }

  .deptlist-container {
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
  }

  .dd-menu {
    text-align: right;
    left: -120px;
  }
}

@media screen and (max-width: 1175px) {
  .search table,
  .search thead,
  .search tbody,
  .search th,
  .search td,
  .search tr {
    display: block;
  }

  .search thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .search td {
    border: none;
    position: relative;
    padding-left: 50%;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
  }

  .search td:before {
    position: absolute;
    top: 0px;
    left: 6px;
    width: 45%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .search th p {
    min-height: 30px;
  }

  .search td p {
    padding-right: 0;
    min-height: 30px;
  }

  .search td div {
    justify-content: left;
    align-items: left;
  }

  .buttons {
    display: flex;
    margin-top: 5px;
  }

  tr ~ tr {
    margin-top: 20px;
  }

  .search td:nth-of-type(1):before {
    content: "Department";
    font-weight: bold;
  }

  .search td:nth-of-type(2):before {
    content: "College";
    font-weight: bold;
  }

  .buttons div {
    display: flex;
    flex-direction: column;
  }

  .list-dropdown {
    width: max-content;
  }

  .dd-menu {
    text-align: left;
    left: 0;
  }

  .table-button ~ .table-button {
    margin-left: 0;
    margin-top: 10px;
  }

  .list-dropdown {
    margin-left: 0;
    margin-top: 10px;
  }
}
