.sub-header {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 60px;
}

.subnav {
  position: fixed;
  top: 65px;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: #f2f2f2;
  align-items: center;
  justify-content: center;
}

.toggle-button {
  font-size: 16px;
  display: none;
  width: 100px;
  height: 20px;
  background: transparent;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  color: #b60000;
  font-weight: bold;
  line-height: 21px;
  text-decoration: none;
  transition: 0.15s ease-out;
  white-space: nowrap;
}

.subnav-menu {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.subnav-item {
  margin: 0 1rem;
  padding: 0.75rem;
}

.subnav-item > a {
  text-decoration: none;
  color: #0a0a0a;
  transition: color 0.3s ease-in-out;
  white-space: nowrap;
  font-size: 16px;
}

.subnav-item a:hover {
  color: #b60000;
}

.content {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 1400px) {
  .subnav-item {
    margin: 0 0.4rem;
  }
}

@media screen and (max-width: 1175px) {
  .subnav {
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .subnav .toggle-button {
    display: block;
  }

  .subnav.opened .toggle-button {
    background: #b60000;
    color: #ffffff;
  }

  .subnav .subnav-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 125px;
    bottom: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #f2f2f2;
    transition: bottom 0.5s ease-in-out;
    overflow: hidden;
    text-align: center;
  }

  .subnav.opened .subnav-menu {
    bottom: 0;
  }

  .subnav .subnav-item > a {
    display: block;
    font-size: 17px;
  }
}
