.sub-header {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 60px;
}

.subnav {
  position: fixed;
  top: 65px;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: #f2f2f2;
  align-items: center;
  justify-content: center;
}

.toggle-button {
  font-size: 16px;
  display: none;
  width: 100px;
  height: 20px;
  background: transparent;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  color: #b60000;
  font-weight: bold;
  line-height: 21px;
  text-decoration: none;
  transition: 0.15s ease-out;
  white-space: nowrap;
}

.subnav-menu {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.subnav-item {
  margin: 0 1rem;
  padding: 1rem;
}

.subnav-item > a {
  text-decoration: none;
  color: #0a0a0a;
  transition: 0.3s ease-in-out;
  white-space: nowrap;
  font-size: 16px;
}

.subnav-item a:hover {
  color: #b60000;
}

.content {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 1400px) {
  .subnav-item {
    margin: 0 0.5rem;
  }
}

@media screen and (max-width: 1190px) {
  .subnav {
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .subnav .toggle-button {
    display: block;
  }

  .subnav.opened .toggle-button {
    background: #b60000;
    color: #ffffff;
  }

  .subnav .subnav-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 125px;
    bottom: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #f2f2f2;
    transition: bottom 0.5s ease-in-out;
    overflow: hidden;
    text-align: center;
  }

  .subnav.opened .subnav-menu {
    bottom: 0;
  }

  .subnav .subnav-item > a {
    display: block;
  }
}

.form-header h1 {
  font-size: 34px;
}

.form-button {
  font-size: 16px;
  display: block;
  height: 24px;
  background-color: white;
  text-align: center;
  border-radius: 3px;
  color: #b60000;
  font-weight: bold;
  line-height: 20px;
  text-decoration: none;
  transition: 0.15s ease-out;
  white-space: nowrap;
  border: none;
}


a[role="button"] {
  font-size: 16px;
  display: inline-block;
  height: 24px;
  border-radius: 3px;
  color: #b60000;
  font-weight: bold;
  line-height: 20px;
  text-decoration: none;
  transition: 0.15s ease-out;
  white-space: nowrap;
  border: none;
  text-decoration: none;
  padding:0;
  padding-right: 2px;
}

#outline {
  font-size: 16px;
  display: inline;
  height: 24px;
  background-color: #b60000;
  text-align: center;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  line-height: 20px;
  text-decoration: none;
  transition: 0.15s ease-out;
  white-space: nowrap;
  border: none;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.form-button:hover {
  background: #b60000;
  color: white;
}

#outline:hover {
  background: white;
  color: #b60000;
}

a[role="button"]:hover {
  background:none;
  color: black;
}





input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 15px;
  background-color: #f4f4f4;
  display: block;
  text-align: left;
  padding-left: 16px;
  padding-right: 16px;
}
