/* Home Page */

.sub-header {
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  background-color: #f2f2f2;
}

.sub-header-content {
  max-width: 1600px;
  width: 90%;
  margin-left: 17px;
}

.sub-header-content h1 {
  font-size: 28px;
  margin: 0;
  padding: 0;
}

.content {
  position: absolute;
  width: 100%;
  top: 125px;
  display: flex;
  justify-content: center;
}

.home-container {
  max-width: 1600px;
  width: 90%;
  margin-left: 17px;
  margin-bottom: 60px;
}

.row-label h1 {
  font-size: 34px;
  margin-top: 60px;
  margin-bottom: 10px;
}

hr.solid {
  margin: 0;
  border-top: 1px solid #e8e8e8;
}

.admin-information {
  margin-top: 35px;
}

.admin-information p {
  font-size: 20px;
  line-height: 30px;
  margin-top: 20px;
}

.report-information {
  margin-top: 35px;
}

.report-information p {
  font-size: 20px;
  line-height: 30px;
  margin-top: 20px;
}

.reports-todo h3 {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 20px;
  margin-top: 35px;
}

.reports-todo p {
  margin-bottom: 20px !important;
}

.reports-todo table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.reports-todo td,
.reports-todo th {
  text-align: left;
  border-style: hidden;
}

.reports-todo td p,
.reports-todo th p {
  display: flex;
  align-items: center;
}

.reports-todo td p {
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 0px !important;
  padding-right: 20px;
  margin: 0;
  min-height: 60px;
}

.reports-todo th p {
  font-size: 16px;
  margin: 0 !important;
  min-height: 60px;
}

.reports-todo td div {
  display: flex;
  justify-content: left;
  align-items: center;
}

.content a {
  font-size: 16px;
  display: block;
  height: 23px;
  background-color: #ffffff;
  padding: 6px;
  text-align: center;
  border-radius: 3px;
  color: #b60000;
  font-weight: bold;
  line-height: 23px;
  text-decoration: none;
  transition: 0.15s ease-out;
  white-space: nowrap;
  width: max-content;
}

.content a:hover {
  background: #b60000;
  color: #ffffff;
}

.table-button ~ .table-button {
  margin-left: 20px;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 45px;
  font-size: 15px !important;
  font-weight: bold;
  color: #b60000;
  background-color: #f2dede;
  white-space: nowrap;
  border: 1px solid #b60000;
  text-transform: uppercase;
  border-radius: 3px;
  padding-left: 15px;
  padding-right: 15px;
}

.announcements {
  margin-top: 35px;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 35px;
}

/* Welcome Page */

.login-content {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-content h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.login-content p {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 40px;
  white-space: nowrap;
}

.login-content a {
  font-size: 16px;
  display: block;
  width: 75px;
  height: 20px;
  background: #ffffff;
  padding: 10px;
  text-align: center;
  border: 2px solid #b60000;
  border-radius: 3px;
  color: #b60000;
  font-weight: bold;
  line-height: 21px;
  text-decoration: none;
  transition: 0.15s ease-out;
}

.login-content a:hover {
  background: #b60000;
  color: #ffffff;
}

/* Compact Screen Responsive */
@media screen and (max-width: 1400px) {
  .sub-header-content {
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
  }

  .home-container {
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
  }
}

/* Mobile Responsive */
@media screen and (max-width: 1175px) {
  .reports-todo table,
  .reports-todo thead,
  .reports-todo tbody,
  .reports-todo th,
  .reports-todo td,
  .reports-todo tr {
    display: block;
  }

  .reports-todo thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .reports-todo td {
    border: none;
    position: relative;
    padding-left: 50%;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
  }

  .reports-todo td:before {
    position: absolute;
    top: 0px;
    left: 6px;
    width: 45%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .reports-todo th p {
    min-height: 30px;
  }

  .reports-todo td p {
    padding-right: 0;
    min-height: 30px;
  }

  .reports-todo td div {
    justify-content: left;
    align-items: left;
  }

  .buttons {
    display: flex;
    margin-top: 5px;
  }

  tr ~ tr {
    margin-top: 20px;
  }

  .reports-todo td:nth-of-type(1):before {
    content: "Department";
    font-weight: bold;
  }

  .reports-todo td:nth-of-type(2):before {
    content: "Program";
    font-weight: bold;
  }

  .reports-todo td:nth-of-type(3):before {
    content: "Year";
    font-weight: bold;
  }

  .reports-todo td:nth-of-type(4):before {
    content: "Assigned";
    font-weight: bold;
  }
}