.sub-header {
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  background-color: #f2f2f2;
}

.sub-header-content {
  max-width: 1600px;
  width: 90%;
  margin-left: 17px;
}

.sub-header-content h1 {
  font-size: 28px;
  margin: 0;
  padding: 0;
}

.content {
  position: absolute;
  width: 100%;
  top: 125px;
  display: flex;
  justify-content: center;
}

.home-container {
  max-width: 1600px;
  width: 90%;
  margin-left: 17px;
}

.row-label h1 {
  font-size: 34px;
  margin-top: 60px;
  margin-bottom: 10px;
}

.admin-information {
  margin-top: 35px;
}

.second-sublabel {
  margin-top: 40px;
}

.admin-information p {
  font-size: 20px;
  line-height: 30px;
  margin-top: 15px;
}

.admin-information a {
  font-size: 16px;
  display: block;
  width: 110px;
  height: 20px;
  background: #ffffff;
  padding: 10px;
  text-align: center;
  border: 2px solid #b60000;
  border-radius: 3px;
  color: #b60000;
  font-weight: bold;
  line-height: 21px;
  text-decoration: none;
  transition: 0.15s ease-out;
  white-space: nowrap;
}

.admin-information a:hover {
  background: #b60000;
  color: #ffffff;
}

.report-information {
  margin-top: 35px;
}

.report-information p {
  font-size: 20px;
  line-height: 30px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.reports-todo h3 {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 20px;
}

.reports-todo table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.reports-todo td, .reports-todo th {
  text-align: left;
  border-style : hidden;
}

.reports-todo td div {
  display: flex;
  justify-content: left;
  align-items: center;
}

.reports-todo td p {
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.reports-todo th p {
  font-size: 16px;
  margin-top: 0;
  padding-top: 0;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 45px;
  font-size: 15px !important;
  font-weight: bold;
  color: #B60000;
  background-color: #F2DEDE;
  white-space: nowrap;
  border: 1px solid #b60000;
  text-transform: uppercase;
  border-radius: 3px;
  padding-left: 15px;
  padding-right: 15px;
}

.table-button {
  font-size: 16px;
  display: block;
  height: 23px;
  background-color: #ffffff;
  padding: 6px;
  text-align: center;
  border-radius: 3px;
  color: #b60000;
  font-weight: bold;
  line-height: 23px;
  text-decoration: none;
  transition: 0.15s ease-out;
  white-space: nowrap;

}

.table-button:hover {
  background: #b60000;
  color: #ffffff;
}

#right-button {
  margin-left: 0;
}

.table-button {
  margin-left: 5px;
  margin-right: 5px;
}

hr.solid {
  margin: 0;
  border-top: 1px solid #E8E8E8;
}

.login-content {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-content h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.login-content p {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 40px;
  white-space: nowrap;
}

.login-content a {
  font-size: 16px;
  display: block;
  width: 75px;
  height: 20px;
  background: #ffffff;
  padding: 10px;
  text-align: center;
  border: 2px solid #b60000;
  border-radius: 3px;
  color: #b60000;
  font-weight: bold;
  line-height: 21px;
  text-decoration: none;
  transition: 0.15s ease-out;
}

.login-content a:hover {
  background: #b60000;
  color: #ffffff;
}

@media screen and (max-width: 1400px) {
  .sub-header-content {
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
  }

  .home-container {
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 1190px) {
  .reports-todo table, 
  .reports-todo thead, 
  .reports-todo tbody, 
  .reports-todo th, 
  .reports-todo td,
  .reports-todo tr {
    display: block;
  }

  .reports-todo thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .reports-todo td {
    border: none;
    position: relative;
    padding-left: 50%;
    height: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .reports-todo td:before {
    position: absolute;
    top: 0px;
		left: 6px;
		width: 45%; 
		white-space: nowrap;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .reports-todo td div {
    justify-content: left;
    align-items: left;
  }

  .modify-buttons:first-child {
    margin-left: 0;
  }

  .buttons {
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .empty {
    padding-top: 0px;
  }

  .reports-todo td:nth-of-type(1):before { content: "Department"; font-weight: bold; }
	.reports-todo td:nth-of-type(2):before { content: "Program"; font-weight: bold; }
	.reports-todo td:nth-of-type(3):before { content: "Year"; font-weight: bold; }
}

.announcements {
  margin-top: 35px;
  font-size: 20px;
  line-height: 30px;
}

.announce-spacer {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin-bottom: 30px;
}