.sub-header {
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    background-color: #f2f2f2;
}

.sub-header-content {
    max-width: 1600px;
    width: 90%;
    margin-left: 17px;
}

.sub-header-content h1 {
    font-size: 28px;
    margin: 0;
    padding: 0;
}

.content {
    position: absolute;
    width: 100%;
    top: 125px;
    display: flex;
    justify-content: center;
}

.reports-container {
    max-width: 1600px;
    width: 90%;
    margin-left: 17px;
}

.row-label h1 {
    font-size: 34px;
    margin-top: 60px;
    margin-bottom: 10px;
}

.search {
    margin-top: 35px;
}

.second-sublabel {
    margin-top: 40px;
}

.admin-information p {
    font-size: 20px;
    line-height: 30px;
    margin-top: 15px;
}