.sub-header {
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  background-color: #f2f2f2;
}

.sub-header-content {
  max-width: 1600px;
  width: 90%;
  margin-left: 17px;
}

.sub-header-content h1 {
  font-size: 28px;
  margin: 0;
  padding: 0;
}

.content {
  position: absolute;
  width: 100%;
  top: 125px;
  display: flex;
  justify-content: center;
}

.reports-container {
  max-width: 1600px;
  width: 90%;
  margin-left: 17px;
  margin-bottom: 60px;
}

.row-label h1 {
  font-size: 34px;
  margin-top: 60px;
  margin-bottom: 10px;
}

.analysis {
  margin-top: 35px;
}

.button ~ .button {
  margin-left: 20px;
}

.search {
  margin-top: 35px;
}

.search h3 {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 20px;
  margin-top: 35px;
}

.search p, .analysis p {
  font-size: 20px;
  line-height: 30px;
  margin-top: 20px;
}

form {
  width: 375px;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 35px;
}

form button {
  font-size: 16px;
  width: max-content;
  height: 45px;
  background: transparent;
  border: 2px solid #b60000;
  border-radius: 3px;
  color: #b60000;
  font-weight: bold;
  transition: 0.15s ease-out;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}

form button:hover {
  background: #b60000;
  color: #ffffff;
}

.error {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  color: #b60000;
  white-space: nowrap;
  font-size: 17px;
}

.content a {
  width: max-content;
  font-size: 16px;
  display: inline-block;
  height: 23px;
  background-color: #ffffff;
  padding: 6px;
  text-align: center;
  border-radius: 3px;
  color: #b60000;
  font-weight: bold;
  line-height: 23px;
  text-decoration: none;
  transition: color 0.15s ease-out, background-color 0.15s ease-out;
  white-space: nowrap;
}

.content a:hover {
  background: #b60000;
  color: #ffffff;
}

hr.solid {
  margin: 0;
  border-top: 1px solid #e8e8e8;
}

.search table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.search td,
.search th {
  text-align: left;
  border-style: hidden;
}

.search td p,
.search th p {
  display: flex;
  align-items: center;
}

.search td p {
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 0px !important;
  padding-right: 20px;
  margin: 0;
  min-height: 60px;
}

.search th p {
  font-size: 16px;
  margin: 0 !important;
  min-height: 60px;
}

.search td div {
  display: flex;
  justify-content: left;
  align-items: center;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 45px;
  font-size: 15px !important;
  font-weight: bold;
  color: #b60000;
  background-color: #f2dede;
  white-space: nowrap;
  border: 1px solid #b60000;
  text-transform: uppercase;
  border-radius: 3px;
  padding-left: 15px;
  padding-right: 15px;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.year {
  color: #767676;
  font-size: 17px;
  width: 100%;
}

.program {
  color: #767676;
  font-size: 17px;
  margin-top: 30px;
  width: 100%;
  max-width: 500px;
}

#form-label {
  margin-top: 20px;
  display: block;
  text-align: left;
  width: max-content;
  color: #767676;
}

.year input, .program input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 15px;
  background-color: #f4f4f4;
  display: block;
  text-align: left;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 3px;
}

.year input:focus, .program input:focus {
  outline: none;
}

.year label, .program label {
  margin-bottom: 5px;
  display: block;
  text-align: left;
  width: max-content;
}

.search, .submitted, .reviewed, .program {
  margin-top: 20px;
}

.submitted, .reviewed {
  display: flex;
  justify-content: space-between;
}

.error {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  color: #b60000;
  white-space: nowrap;
  font-size: 17px;
}

@media screen and (max-width: 1400px) {
    .sub-header-content {
        width: 100%;
        margin-left: 30px;
        margin-right: 30px;
    }
    .reports-container {
        width: 100%;
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 1175px) {
    

    .content a {
      display: block;
    }
  
    .buttons div {
      display: flex;
      flex-direction: column;
    }

    .button ~ .button {
      margin-left: 0;
      margin-top: 20px;
    }







    .search table,
  .search thead,
  .search tbody,
  .search th,
  .search td,
  .search tr {
    display: block;
  }

  .search thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .search td {
    border: none;
    position: relative;
    padding-left: 50%;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
  }

  .search td:before {
    position: absolute;
    top: 0px;
    left: 6px;
    width: 45%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .search th p {
    min-height: 30px;
  }

  .search td p {
    padding-right: 0;
    min-height: 30px;
  }

  .search td div {
    flex-direction: row;
    justify-content: left;
    align-items: left;
  }

  .table-button ~ .table-button {
    margin-left: 20px;
  }

  .buttons {
    display: flex;
    margin-top: 5px;
  }

  tr ~ tr {
    margin-top: 20px;
  }
  
    .search td:nth-of-type(1):before {
      content: "Department";
      font-weight: bold;
    }
  
    .search td:nth-of-type(2):before {
      content: "Year";
      font-weight: bold;
    }

    .submitted, .reviewed {
      display: block;
    }
  
    .radio-option ~ .radio-option {
      margin-top: 10px;
    }
  }
  




  
  input[type="radio"]{
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    vertical-align: middle;
    margin-bottom: 5px;
    position: relative;
    cursor: pointer;
    outline: 0;
    overflow: hidden;
    border: 2px solid #F0F0F0;
    transition: .15s ease-in-out;
  }

  input[type="radio"]:hover {
    border: 2px solid #B8B8B8;
  }
  
  input[type="radio"]:after{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transition: all .15s;
    border: 4px solid #1F51FF;
    transform: translate3d(-50%, -50%, 0) scale(0, 0);
  }
  
  input[type="radio"]:checked {
    border: 2px solid #1F51FF;
  }

  input[type="radio"]:checked:after {
    transform: translate3d(-50%, -50%, 0) scale(1, 1);
  }